<a href="https://colab.research.google.com/github/jittakorn-ch/data_viz_2022/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd     # pandas ใช้จัดการข้อมูลที่เป็นตาราง
import os       # os ใช้จัดการกับไฟล์ ว่าอยู่ที่ไหน

In [4]:
from google.colab import drive      # ชี้ไฟล์ที่อยู่ใน google drive เพื่อเชื่อมต่อไฟล์
drive.mount('/content/drive')
path = '/content/drive/My Drive/dataviz_2021_data'      # ชี้ dirve ที่เราต้องการ

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
data_file_path = os.path.join(path,'pm-20-jan-2021.csv')   
data_df = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

In [6]:
data_df.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

### ตรวจสอบค่าใน column

In [9]:
set(data_df['province_of_onset'])

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'คลองใหญ่',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชากบก',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บางบุตร',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มาบตาพุด',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุุทรสงคราม',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'หน้าพระธาตุ',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

# ต่อตาราง

* ต่อในแนวแกน Y (เพิ่มจำนวนข้อมูล)
* ต่อในแนวแกน X (เพิ่มรายละเอียดของข้อมูล)

## ต่อในแนวแกน Y

In [13]:
BKK = data_df[data_df['province_of_onset'] == 'กรุงเทพมหานคร']
BKK.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [14]:
KKC = data_df[data_df['province_of_onset'] == 'ขอนแก่น']
KKC.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

### ต่อคารางใฟ้เป็นข้อมูล 2 จังหวัด

In [15]:
dataBKKKKC = pd.concat([BKK,KKC])       # .concat เอาไว้ต่อตาราง(ลงด้านล่าง)

In [16]:
dataBKKKKC

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
9334    9335  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                         อยู่ระหว่างการสอบสวน
11697  11698  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 10 columns]

### ถ้าเอาตารางที่ไม่เหมือนกันมา concat กัน

In [18]:
BKK2 = data_df[data_df['province_of_onset'] == 'กรุงเทพมหานคร'][['sex','age','nationality']]
BKK2.head()

    sex   age nationality
0  หญิง  61.0       China
1  หญิง  74.0       China
3   ชาย  68.0       China
4  หญิง  66.0       China
5  หญิง  33.0       China

In [19]:
KKC2 = data_df[data_df['province_of_onset'] == 'ขอนแก่น'][['age','nationality','sex']]
KKC2.head()

       age nationality   sex
180   33.0    Thailand   ชาย
462   36.0    Thailand  หญิง
1466  19.0    Thailand   ชาย
1970  70.0    Thailand  หญิง
2637  63.0    Thailand  หญิง

In [20]:
pd.concat([BKK2,KKC2])      # ชื่อคอลัมน์สลับที่กันเอามาต่อกันได้

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
9334    ชาย  20.0    Thailand
10610   ชาย  17.0    Thailand
11517   ชาย  12.0    Thailand
11697  หญิง  17.0    Thailand
11698  หญิง  37.0    Thailand

[2803 rows x 3 columns]

In [21]:
KKC3 = data_df[data_df['province_of_onset'] == 'ขอนแก่น'][['age','nationality','sex','risk']]
KKC3.head()

       age nationality   sex                                           risk
180   33.0    Thailand   ชาย                                        สนามมวย
462   36.0    Thailand  หญิง    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  19.0    Thailand   ชาย                  คนไทยเดินทางกลับจากต่างประเทศ
1970  70.0    Thailand  หญิง  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  63.0    Thailand  หญิง                  สัมผัสผู้เดินทางจากต่างประเทศ

In [22]:
pd.concat([BKK2,KKC3])

        sex   age nationality                                         risk
0      หญิง  61.0       China                                          NaN
1      หญิง  74.0       China                                          NaN
3       ชาย  68.0       China                                          NaN
4      หญิง  66.0       China                                          NaN
5      หญิง  33.0       China                                          NaN
...     ...   ...         ...                                          ...
9334    ชาย  20.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610   ชาย  17.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517   ชาย  12.0    Thailand                         อยู่ระหว่างการสอบสวน
11697  หญิง  17.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  หญิง  37.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 4 columns]

## ต่อในแนวแกน X

In [24]:
personal_data = data_df[['No.','sex','age','nationality']]
personal_data.head()

   No.   sex   age nationality
0    1  หญิง  61.0       China
1    2  หญิง  74.0       China
2    3  หญิง  73.0    Thailand
3    4   ชาย  68.0       China
4    5  หญิง  66.0       China

In [26]:
covid_data = data_df[['No.','announce_date','province_of_isolation','province_of_onset','risk']].sample(frac=1)
covid_data.head()

       No.  ...                                               risk
9582  9583  ...                                  Cluster สมุทรสาคร
6191  6192  ...       ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
1950  1951  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
2685  2686  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
2011  2012  ...                      คนไทยเดินทางกลับจากต่างประเทศ

[5 rows x 5 columns]

### เอาตารางสองอันมาต่อกัน